@import '@/constants/colors.css';

.item {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border-blue);
  background-color: var(--color-bg-transparent);
  box-shadow: 0 4px 24px var(--color-shadow-blue);
  border-radius: 20px;
  margin-bottom: 12px;
}

.name, .surname {
  font-size: 1.2rem;
  color: var(--color-text-primary);
}