:root {
  /* Основные цвета текста */
  --color-text-primary: rgba(255, 255, 255, 0.87);
  --color-text-secondary: rgba(44, 44, 44, 1);
  --color-text-white: rgba(255, 255, 255, 1);
  --color-text-dark: rgba(33, 53, 71, 1);
  
  /* Цвета ссылок */
  --color-link: rgba(100, 108, 255, 1);
  --color-link-hover: rgba(83, 91, 242, 1);
  
  /* Фоновые цвета */
  --color-bg-primary: linear-gradient(135deg, rgba(192, 193, 235, 1), rgba(184, 49, 49, 0.77));
  --color-bg-white: rgba(255, 255, 255, 1);
  --color-bg-transparent: rgba(255, 255, 255, 0);
  --color-bg-glass: rgba(255, 255, 255, 0.205);
  
  /* Градиенты для SwitchButton */
  --gradient-switch-left: linear-gradient(90deg, rgba(68, 71, 75, 1) 0%, rgba(110, 113, 116, 1) 100%);
  --gradient-switch-right: linear-gradient(90deg, rgba(231, 110, 50, 1) 0%, rgba(246, 177, 120, 1) 100%);
  
  /* Цвета границ */
  --color-border-blue: rgba(130, 191, 231, 0.2);
  
  /* Цвета теней */
  --color-shadow-black: rgba(0, 0, 0, 0.25);
  --color-shadow-blue: rgba(31, 38, 135, 0.14);
  --color-shadow-text: rgba(0, 0, 0, 0.13);
  
  /* Цвета для анимаций и эффектов */
  --color-fade-bg: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Основные цвета текста */
    --color-text-primary: rgba(44, 44, 44, 0.94);
    --color-text-secondary: rgba(95, 95, 105, 0.8);
    --color-text-white: rgba(255, 255, 255, 1);
    --color-text-dark: rgba(44, 44, 44, 1);

    /* Цвета ссылок */
    --color-link: rgba(90, 80, 200, 1);
    --color-link-hover: rgba(130, 112, 220, 1);

    /* Фоновые цвета */
    --color-bg-primary: linear-gradient(135deg, rgba(246, 234, 255, 1) 0%, rgba(255, 232, 232, 1) 100%);
    /* Лёгкий фиолетово-розовый градиент — стекло */
    --color-bg-white: rgba(255, 255, 255, 0.85); 
    --color-bg-transparent: rgba(255, 255, 255, 0.03);
    --color-bg-glass: rgba(255, 255, 255, 0.32);

    /* Градиенты для SwitchButton */
    --gradient-switch-left: linear-gradient(90deg, rgba(232, 233, 236, 1) 0%, rgba(207, 202, 211, 1) 100%);
    --gradient-switch-right: linear-gradient(90deg, rgba(255, 176, 125, 1) 0%, rgba(255, 214, 199, 1) 100%);

    /* Цвета границ */
    --color-border-blue: rgba(181, 201, 242, 0.31);

    /* Цвета теней */
    --color-shadow-black: rgba(60, 50, 70, 0.09);
    --color-shadow-blue: rgba(200, 200, 255, 0.13);
    --color-shadow-text: rgba(50, 40, 50, 0.09);

    /* Цвета для анимаций и эффектов */
    --color-fade-bg: rgba(255, 255, 255, 0.17);
  }
}