.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  position: relative;
  height: 68vh;
}

.empty {
  text-align: center;
  color: var(--color-text-primary);
  padding: 32px 0;
  font-size: 1.1rem;
}

